body{
    background: #F7F7F7;
}


.week-types{
    margin-top: 10px;
    background: white;
}

.week-desc{
    display: flex;
    align-items: flex-start;
}

.circle{
    height: 25px;
    width: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 50%;
    display: inline;
}

.circle-label{
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

