<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ua">
<head>
    <meta charset="UTF-8">
    <title th:text="#{study}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="../images/icons8-dev-post-64.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/applicationButtons.css">
    <link rel="stylesheet" href="../css/authorized-pages.css">
    <link rel="stylesheet" href="../css/card-elements.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/tables.css">
    <link rel="stylesheet" href="../css/admin-forms.css">
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
<div class="header sticky-top" th:insert="~{admin-navbar :: nav-admin}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md">
            <div class="shadow-sm rounded content-header">
                <p class="h2" th:text="#{students}"></p>
            </div>
            <div class="shadow-sm rounded detailCard">
                <div class="response">
                    <table id="allStudentsTable" class="table table-bordered table-responsive-sm">
                        <thead>
                        <tr>
                            <th scope="col" class="small-cell align-middle table-success" th:text="#{id}"></th>
                            <th scope="col" class="big-cell align-middle table-success" th:text="#{st_lastname}"></th>
                            <th scope="col" class="big-cell align-middle table-success" th:text="#{st_name}"></th>
                            <th scope="col" class="small-cell align-middle table-success" th:text="#{un_group}"></th>
                        </tr>
                        </thead>
                        <tbody id="studentTableBody">

                        </tbody>
                    </table>
                </div>

                <div class="cotrol-btns" style="display: flex">
                    <div style="flex: 1">
                        <button id="searchStudentBtn" class="btn btn-outline-success" th:text="#{search}"></button>
                        <button id="updateStudentBtn" class="btn btn-outline-primary" th:text="#{update}"></button>
                    </div>
                    <div>
                        <button id="back" class="btn btn-outline-dark prevSubjectsPage" th:text="#{back}"></button>
                        <button id="next" class="btn btn-outline-dark nextSubjectsPage" th:text="#{next}"></button>
                    </div>
                </div>

                <div id="searchDiv" th:insert="~{search-students-form :: search-student}"></div>

                <div class="get-by-group-response">
                    <table id="searchedStudentsTable" class="table table-bordered table-responsive-sm">
                        <thead>
                        <tr>
                            <th scope="col" class="small-cell align-middle table-success" th:text="#{id}"></th>
                            <th scope="col" class="big-cell align-middle table-success" th:text="#{st_lastname}"></th>
                            <th scope="col" class="big-cell align-middle table-success" th:text="#{st_name}"></th>
                            <th scope="col" class="small-cell align-middle table-success" th:text="#{un_group}"></th>
                        </tr>
                        </thead>
                        <tbody id="searchedStudentTableBody">

                        </tbody>
                    </table>
                </div>
                <div id="updateDiv" th:insert="~{update-student-form :: update-student}"></div>

            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>

<input id="countOfStudents" th:value="${countOfStudents}" type="hidden" readonly>
<script id="marker" type="text/javascript" src="../js/markActivePage.js" data-page="students"></script>
<script type="text/javascript" src="../js/ajaxStudentCalls.js"></script>
<script type="text/javascript" src="../js/adminStudentEditor.js"></script>
<script type="text/javascript" src="../js/matchDepartmentSpecialty.js"></script>
<script type="text/javascript" src="../js/filter.js"></script>
</body>
</html>