<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ua">
<head>
    <meta charset="UTF-8">
    <title th:text="#{teachers}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="../images/icons8-dev-post-64.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/applicationButtons.css">
    <link rel="stylesheet" href="../css/authorized-pages.css">
    <link rel="stylesheet" href="../css/card-elements.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/tables.css">
    <link rel="stylesheet" href="../css/admin-forms.css">
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
<div class="header sticky-top" th:insert="~{admin-navbar :: nav-admin}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md">
            <div class="shadow-sm rounded content-header">
                <p class="h2" th:text="#{teachers}"></p>
            </div>
            <div class="shadow-sm rounded detailCard">
                <div class="response">
                    <table id="allTeacherTable" class="table table-bordered table-responsive-sm">
                        <thead>
                        <tr>
                            <th scope="col" class="small-cell align-middle table-success" th:text="#{id}"></th>
                            <th scope="col" class="medium-cell align-middle table-success" th:text="#{st_lastname}"></th>
                            <th scope="col" class="medium-cell align-middle table-success" th:text="#{st_name}"></th>
                            <th scope="col" class="medium-cell align-middle table-success" th:text="#{st_phone}"></th>
                            <th scope="col" class="thirty-per-cell align-middle table-success" th:text="#{teacher_subjects}"></th>
                        </tr>
                        </thead>
                        <tbody id="teacherTableBody">

                        </tbody>
                    </table>
                </div>

                <div class="cotrol-btns" style="display: flex">
                    <div style="flex: 1">
                        <button id="createTeacherBtn" class="create btn btn-outline-success mrg-br-5" th:text="#{create}"></button>
                        <button id="updateTeacherBtn" class="update btn btn-outline-primary mrg-br-5" th:text="#{update}"></button>
                        <button id="searchTeacher" class="searchBtn btn btn-outline-warning mrg-br-5" th:text="#{search}"></button>
                    </div>
                    <div>
                        <button id="back" class="btn btn-outline-dark prevSubjectsPage mrg-br-5" th:text="#{back}"></button>
                        <button id="next" class="btn btn-outline-dark nextSubjectsPage mrg-br-5" th:text="#{next}"></button>
                    </div>
                </div>
                <div class="search-response">
                    <table id="searchedTeachersTable" class="searchedTable table table-bordered table-responsive-sm">
                        <thead>
                        <tr>
                            <th scope="col" class="small-cell align-middle table-success" th:text="#{id}"></th>
                            <th scope="col" class="medium-cell align-middle table-success" th:text="#{st_lastname}"></th>
                            <th scope="col" class="medium-cell align-middle table-success" th:text="#{st_name}"></th>
                            <th scope="col" class="medium-cell align-middle table-success" th:text="#{st_phone}"></th>
                            <th scope="col" class="thirty-per-cell align-middle table-success" th:text="#{teacher_subjects}"></th>
                        </tr>
                        </thead>
                        <tbody id="searchedTeacherTableBody">

                        </tbody>
                    </table>
                </div>

                <div id="searchDiv" th:insert="~{search-teachers-form :: search-teachers}"></div>
                <div id="createDiv" th:insert="~{create-teacher-form :: create-teacher}"></div>
                <div id="updateDiv" th:insert="~{update-teacher-form :: update-teacher}"></div>

            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>

<input id="countOfTeachers" th:value="${countOfTeachers}" type="hidden" readonly>
<script id="marker" type="text/javascript" src="../js/markActivePage.js" data-page="teachers"></script>
<script type="text/javascript" src="../js/ajaxTeacherCalls.js"></script>
<script type="text/javascript" src="../js/adminEditor.js"></script>
<script type="text/javascript" src="../js/filter.js"></script>
</body>
</html>