<!--suppress ALL -->
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ua">
<body>
<nav class="navbar  navbar-expand-md navbar-dark" th:fragment="nav-admin">
    <a class="navbar-brand" th:href="@{/home}" th:text="#{site-title}"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item home">
                <a class="nav-link" th:href="@{/home}" th:text="#{main_page}"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item news-block">
                <a class="nav-link" href="#" th:text="#{news_block}"> </a>
            </li>
            <li class="nav-item study">
                <a class="nav-link" href="#" th:text="#{study}"></a>
            </li>
            <li class="nav-item students">
                <a class="nav-link" href="#" th:text="#{students}"></a>
            </li>
            <li class="nav-item teachers">
                <a class="nav-link" thref="#" th:text="#{teachers}"></a>
            </li>

        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <form class= "text-ligt" th:action="@{/logout}" method="post">
                    <input id="logout" type="submit" th:value="#{log_out}"/>
                </form>

            </li>
        </ul>
    </div>
</nav>


</body>
</html>
