<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ua">
<head>
    <meta charset="UTF-8">
    <title th:text="#{enterDeanery}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/form-media.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="images/icons8-dev-post-64.png" type="image/x-icon">
    <link rel="stylesheet" href="css/applicationButtons.css">
    <meta name="viewport" content="width=device-width"/>

</head>
<body>
<div class="container-fluid" id="wrapper">

    <div id="welcomeText">
        <img src="images/icons8-dev-post-64.png" alt="Логотип">
        <p th:text="#{enterDeanery}"></p>

    </div>
    <div th:if="${param.error}">
      <p class="text-danger" th:text="#{incorrectCredits}"></p>
    </div>
    <form method="post" th:action="@{/login}">
        <div class="inputDiv" tabindex="0">
                <span th:text="#{user_name}"></span>
            <input type="text" class="inputLogin dataField" name="username">
        </div>
        <div class="inputDiv" tabindex="0">
                <span th:text="#{pass_word}"></span>
            <input type="password"  class="inputPass dataField" name="password">
        </div>
        <input type="submit" th:value="#{log_in}" id="buttonEnter" class="disabledBtn" disabled="disabled">
    </form>

    <script src="js/login-form.js" type="text/javascript" ></script>
</div>
</body>
</html>