<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ua">
<body>
<table class="table table-bordered table-responsive-sm"
       th:fragment="plan-table(plan)">
    <thead>
    <tr>
        <th scope="col" class="big-cell align-middle table-success">Предмет</th>
        <th scope="col" class="very-small-cell align-middle table-success">Лекційні заняття</th>
        <th scope="col" class="very-small-cell align-middle table-success">Практичні заняття</th>
        <th scope="col" class="medium-cell align-middle table-success">Викладач</th>
        <th scope="col" class="medium-cell align-middle table-success">Захист</th>
        <th scope="col" class="small-cell align-middle table-success">Дата захисту</th>
    </tr>
    </thead>
    <tbody th:each="subject : ${plan}">
    <td class="align-middle"><span th:text="${subject?.subjectName}"> </span></td>
    <td class="align-middle"><span th:text="${subject?.lectureHours}"></span></td>
    <td class="align-middle"><span th:text="${subject?.practicalHours}"></span></td>
    <td class="align-middle"
        th:if="${subject.teachers ne null}"><span
            th:each="teacher, iter : ${subject.teachers}"
            th:text="${iter.last} ? ${teacher.name} + ' ' + ${teacher.lastname}
             :  ${teacher.name} + ' ' + ${teacher.lastname} + ', '"></span></td>
    <td class="align-middle"><span th:text="${subject?.defenceType}"></span></td>
    <td class="align-middle"><span th:text="${subject?.defenceDate}"></span></td>
    </tbody>
</table>
</body>
</html>