<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ua">
<head>
    <meta charset="UTF-8">
    <title th:text="#{registration_acc}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/login-form.css">
    <link rel="stylesheet" href="css/login-form-media.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="images/icons8-dev-post-64.png" type="image/x-icon">
    <link rel="stylesheet" href="css/applicationButtons.css">
    <meta name="viewport" content="width=device-width"/>

</head>
<body>
<div class="container-fluid" id="wrapper">

    <div id="welcomeText">
        <img src="images/icons8-dev-post-64.png">
        <p class="label" th:text="#{registration}"></p>
    </div>
    
    <div th:if="${msgError}">
        <p class="text-danger" th:text="${msgError}"></p>
    </div>

    <form id="regForm" method="post" th:action="@{/registration}">
        <div class="inputDiv inputArea">
                <span th:text="#{log_in}"></span>
            <input type="text" class="inputLogin dataField" name="username">
        </div>
        <div class="inputDiv inputArea">
                <span th:text="#{pass_word}"></span>
            <input type="password" class="inputPass dataField" name="password" >
        </div>
        <div class="inputDiv inputArea">
                <span th:text="#{pass_confirm}"></span>
            <input type="password" class="inputConfirmPass dataField" name="passwordConfirm" >
        </div>

        <input type="submit" th:value="#{create_acc}" id="buttonEnter" class="disabledBtn" disabled="disabled">
    </form>

    <script src="js/loginForm.js" type="text/javascript" ></script>
</div>
</body>
</html>