<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ua">
<head>
    <meta charset="UTF-8">
    <title th:text="#{schedule_page}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="images/icons8-dev-post-64.png" type="image/x-icon">
    <link rel="stylesheet" href="css/applicationButtons.css">
    <link rel="stylesheet" href="css/schedule-description.css">
    <link rel="stylesheet" href="css/tables.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/authorized-pages.css">
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
<div class="header" th:insert="~{navbar :: nav}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md timetables central-container">
            <div class="week-types">

                <div class="week-desc">
                    <span class="circle table-success"></span>
                    <span class="circle-label" th:text="#{numerator}"></span>
                </div>

                <div class="week-desc">
                    <span class="circle table-primary"></span>
                    <span class="circle-label" th:text="#{denominator}"></span>
                </div>

                <div class="week-desc">
                    <span class="circle circle-bordered"></span>
                    <span class="circle-label" th:text="#{each_week}"></span>
                </div>

            </div>
            <div th:insert="~{schedule-table :: table(${MONDAY}, ${scheduleMondayNum}, ${scheduleMondayDenum} ,${scheduleUtils})}"></div>
            <div th:insert="~{schedule-table :: table(${TUESDAY}, ${scheduleTuesdayNum}, ${scheduleTuesdayDenum} ,${scheduleUtils})}"></div>
            <div th:insert="~{schedule-table :: table(${WEDNESDAY}, ${scheduleWednesdayNum}, ${scheduleWednesdayDenum} ,${scheduleUtils})}"></div>
            <div th:insert="~{schedule-table :: table(${THURSDAY}, ${scheduleThursdayNum}, ${scheduleThursdayDenum} ,${scheduleUtils})}"></div>
            <div th:insert="~{schedule-table :: table(${FRIDAY}, ${scheduleFridayNum}, ${scheduleFridayDenum} ,${scheduleUtils})}"></div>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>
<script id="marker" type="text/javascript" src="js/markActivePage.js" data-page="schedule"></script>
</body>
</html>