<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ua">
<body>

<table class="table table-bordered table-responsive-sm"
       th:fragment="table(day, scheduleNum, scheduleDenum ,scheduleUtils)">
    <thead>
    <tr>
        <th scope="col" class="align-middle" colspan="10" th:text="${day}"></th>
    </tr>
    <tr>
        <th scope="col" class="very-small-cell" th:text="#{lecture}"></th>
        <th scope="col" class="big-cell" th:text="#{subj}"></th>
        <th scope="col" class="very-small-cell" th:text="#{place}"></th>
        <th scope="col" class="medium-cell" th:text="#{subject_teacher}"></th>
    </tr>
    </thead>
    <tbody th:each="i, iter: ${#numbers.sequence(0, 4)}" th:with="index =${iter.index}">
    <tr>
        <td rowspan="2" class="align-middle" th:text="${index + 1}"></td>

        <td class="align-middle"
            th:each="sch : ${scheduleNum}"
            th:if="${sch != null && scheduleUtils.findLessonIndexInSchedule(sch) == index}"
            th:classappend="${#strings.equals(sch.weekType, 'Чисельник')} ? 'table-success' : 'table-light' ">
            <span th:text="${sch.subject.subjectName}"></span>
        </td>

        <td class="align-middle"
            th:each="sch : ${scheduleNum}"
            th:if="${sch != null && scheduleUtils.findLessonIndexInSchedule(sch) == index}"
            th:classappend="${#strings.equals(sch.weekType, 'Чисельник')} ? 'table-success' : 'table-light'">
            <span th:text="${sch.lessonPlace}"></span>

        </td>

        <td class="align-middle"
            th:each="sch : ${scheduleNum}"
            th:if="${sch != null
            && scheduleUtils.findLessonIndexInSchedule(sch) == index
            && sch.subject.teachers != null }"
            th:classappend="${#strings.equals(sch.weekType, 'Чисельник')} ? 'table-success' : 'table-light'">
            <span
                    th:each="teacher, iter : ${sch.subject.teachers}"
                    th:text="${iter.last} ? ${teacher.name} + ' ' + ${teacher.lastname} : ${teacher.name} + ' ' + ${teacher.lastname} + ', '">
            </span>
        </td>
    </tr>

    <tr>
        <td class="align-middle table-primary"
            th:each="sch1 : ${scheduleDenum}"
            th:if="${sch1 != null && scheduleUtils.findLessonIndexInSchedule(sch1) == index}">
            <span th:text="${sch1.subject.subjectName}"></span>
        </td>

        <td class="align-middle table-primary"
            th:each="sch1 : ${scheduleDenum}"
            th:if="${sch1 != null && scheduleUtils.findLessonIndexInSchedule(sch1) == index}">
            <span th:text="${sch1.lessonPlace}"></span>
        </td>

        <td class="align-middle table-primary"
            th:each="sch1 : ${scheduleDenum}"
            th:if="${sch1 != null
             && scheduleUtils.findLessonIndexInSchedule(sch1) == index
             && sch1.subject.teachers != null}">
             <span
                     th:each="teacher, iter : ${sch1.subject.teachers}"
                     th:text="${iter.last} ? ${teacher.name} + ' ' + ${teacher.lastname} : ${teacher.name} + ' ' + ${teacher.lastname} + ', '">
             </span>
        </td>
    </tr>

    </tbody>
</table>
</body>
</html>