<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ua">
<head>
    <meta charset="UTF-8">
    <title th:text="#{site-title}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="images/icons8-dev-post-64.png" type="image/x-icon">
    <link rel="stylesheet" href="css/start-page.css">
    <link rel="stylesheet" href="css/start-page-media.css">
    <link rel="stylesheet" href="css/applicationButtons.css">
    <meta name="viewport" content="width=device-width" />
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" id="leftColumn">

            <div id="slogansArea">
                <div class="item1">
                    <img src="images/icons8-театральный-бинокль-35.png" alt="Бінокль"> <span th:text="#{watchYourSchedule}"></span>
                </div>

                <div class="item2">
                    <img src="images/icons8-календарь-35.png" alt="Календар"> <span th:text="#{findYourPlan}"></span>
                </div>

                <div class="item3">
                    <img src="images/icons8-оценки-35.png" alt="Відмітки"> <span th:text="#{controlSuccess}"></span>
                </div>

            </div>

        </div>

        <div class="col-md-8" id="rightColumn">
            <div class="content">
                <div class="overButtonSpeech">
                    <p th:text="#{join}"></p>
                    <p th:text="#{andKeepInformed}"></p>
                    <p th:text="#{rightNow}"></p>
                </div>

                <a th:href="@{/registration}" class="text-decoration-none" id="buttonReg">
                    <span th:text="#{registration}"></span>
                </a>

                <a th:href="@{/home}" class="text-decoration-none" id="emptyBackgroundBtn">
                    <span th:text="#{log_in}">Увійти</span>
                </a>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col" id="footer">
            <span th:text="#{author}"></span>
        </div>
    </div>
</div>

<script src="js/mainStartPage.js" type="text/javascript"></script>

</body>
</html>