<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Деканат-онлайн</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="images/icons8-dev-post-64.png" type="image/x-icon">
    <link rel="stylesheet" href="css/start-page.css">
    <link rel="stylesheet" href="css/start-page-media.css">
    <meta name="viewport" content="width=device-width" />
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" id="leftColumn">

            <div id="slogansArea">
                <div class="item1">
                    <img src="images/icons8-театральный-бинокль-35.png" alt="Бінокль"> <span>Слідкуй за своїм розкладом</span>
                </div>

                <div class="item2">
                    <img src="images/icons8-календарь-35.png" alt="Календар"> <span>Дізнайся про свій учебовий план</span>
                </div>

                <div class="item3">
                    <img src="images/icons8-оценки-35.png" alt="Відмітки"> <span>Контролюй свою успішність</span>
                </div>

            </div>

        </div>

        <div class="col-md-8" id="rightColumn">
            <div class="content">
                <div class="overButtonSpeech">
                    <p id="some">Приєднуйся</p>
                    <p>та будь у курсі подій</p>
                    <p>просто зараз</p>
                </div>

                <a href="/" class="text-decoration-none" id="buttonReg">
                    <span>Зареєструватися</span>
                </a>

                <a href="/login" class="text-decoration-none" id="buttonLog">
                    <span>Увійти</span>
                </a>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col" id="footer">
            <span>2020 Vozniuk Kostiantyn</span>
        </div>
    </div>
</div>

<script src="js/mainStartPage.js" type="text/javascript"></script>

</body>
</html>